<!--
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Hamburger
    </button>
    <ul class="dropdown-menu">
        <li [routerLinkActive]="['link-active']" (click)="setPage('home')">
            <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Home
            </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="setPage('counter')">
            <a [routerLink]="['/counter']">
                <span class='glyphicon glyphicon-education'></span> Counter
            </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="setPage('fetch')">
            <a [routerLink]="['/fetch-data']">
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
            </a>
        </li>
    </ul>
</div>
-->
